@charset "UTF-8";

body{
	background-color: #DEB887;
}

#US{
	background-color: #9b1c2c;
	color: #041E42;
	border-radius: 12px;
}

#US:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#Canada{
	background-color: #D80621;
	color: #FFFFFF;
	border-radius: 12px;
}

#Canada:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#Europe{
	background-color: #003399;
	color: #FFCC00;
	border-radius: 12px;
}

#Europe:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#England{
	background-color: #012169;
	color: #C8102E;
	border-radius: 12px;
}

#England:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#India{
	background-color: #FF9933;
	color: #138808;
	border-radius: 12px;
}

#India:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#China{
	background-color: #EE1C25;
	color: #FFFF00;
	border-radius: 12px;
}

#China:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#Japan{
	background-color: #FFFFFF;
	color: #BC002D;
	border-radius: 12px;
}

#Japan:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


